<section class="sc-section">
    <div class="heading-outer">
        <div class="heading-inner">
            <h1 class="uppercase color-white">Smart Contract Development</h1>
        </div>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container container-fluid">
        <div class="margin">
            <div class="row">
                <div class="col-md-8">
                    <p class="justified">
                            Catura provides an excellent platform to develop Ethereum based smart contract and services.
                            Smarts contracts are self-executing computer codes running on top of a blockchain and contain a set of rules under which the parties to that smart contract agree to interact with each other. The agreement is automatically enforced when the pre-defined terms and conditions are met. This allows smart contracts to execute credible transactions without third parties.
                    </p>
                    <h6>Why Trust a Smart Contract?</h6>
                    <p class="justified">
                        Smart contracts, because they are designed and implemented with the help of blockchain technology, they inherit some properties of blockchains such as:
                    </p>
                    <p class="justified"> 
                        <b>Immutability: </b>Smart contracts can never be altered, and no one can corrupt it or break it.
                    </p>
                    <p class="justified">
                        <b>Distribute: </b>The outcome of the contract is verified by all the rightful owners in the network, just like any transaction on a blockchain. It makes it impossible for attackers to change the outcome, as all other rightful owners can detect such an attempt and immediately mark it as invalid. 
                    </p>
                    <h6>What are the benefits of smart contracts? </h6>
                    <p class="justified">
                        <b>Speed and precision: </b>Smart contracts are digital and exclude human participation in transactions; everything is done automatically by computer code. This means that time need not be spent on processing paperwork and then reconciling and correcting the errors that creep into documents that have been filled manually. Computer code is also more exact, and no mistakes can be made due to the absence of hand-filled forms.
                    </p>
                    <p class="justified">
                        <b>Cost efficiency: </b>As participants can trust the visible data and the technology to execute the transaction properly, Smart contracts eliminate the need for intermediaries. With the third parties out of the way, it removes the need for additional fees, thereby allowing businesses as well as their customers to not only to interact and transact directly but also to do so with minimal to no fees for transactions.
                    </p>
                    <p class="justified">
                        <b>Fraud reduction: </b>Smart contracts are stored in distributed blockchain networks, and the outcome is validated by every entity in that particular network. Distribution makes it quite impossible for attackers to change the outcome, as all other rightful owners would detect any attempt to modify the transaction and mark it as invalid.
                    </p>
                    <p class="justified">
                        <b>Trust: </b>Smart contract helps to solve the issue of mistrust between parties and business partners. Since the blockchain network is heavily decentralised, it ensures that the implementation of smart contracts is fair and more importantly, transparent. No single node can change the terms and the results of a contract because it would contradict other computers in the network.
                    </p>
                </div>
                <div class="col-md-4">
                        <img class="img-contain"
                            src="../../assets/images/logos/icons/dark/Planning and execution Dark.png"
                            alt="Smart Contract Development">
                    </div>
            </div>
        </div>
    </div>
</section>