<section class="ico-section">
    <div class="heading-outer">
        <div class="heading-inner">
            <h1 class="uppercase color-white">ICO Development</h1>
        </div>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="container container-fluid">
        <div class="margin">
            <div class="row">
                <div class="col-md-8">
                    <p class="justified">
                        At Catura, we specialise in ICO Development and crowdfunding. With a team of writers, digital
                        and direct marketers, blockchain experts, in-house designers and software developers, we can
                        tackle any ICO development process regardless of the magnitude.
                    </p>
                    <p class="justified">
                        Initial Coin Offering (ICO) is a type of funding done at the initial level of a business or
                        project. The ICO development process is primarily carried out through crowdfunding and
                        cryptocurrencies are offered to potential investors who show their interest in funding a
                        particular project. These cryptocurrencies are provided in the form of tokens such as utility
                        tokens and payment tokens.
                    </p>
                    <p class="justified">
                        The fundraising is primarily divided into two major phases. The first phase, the Pre-sale phase,
                        runs for a longer duration. The investors are usually offered various bonuses and discounts
                        while purchasing the crypto coins. The primary objective of a Pre-sale ICO is to reach the soft
                        cap as defined in the white paper, which is the minimum fund requirement for the project. The
                        second phase is the public sale, which aims to reach the hard cap or the maximum attainable
                        limit.
                    </p>
                    <h6>ICO Development Services we offer:</h6>
                    <ul>
                        <li>
                            Roadmap and Strategy
                        </li>
                        <li>
                            Whitepaper Consulting/ Whitepaper Drafting
                        </li>
                        <li>
                            Logo Design for Token/Coin
                        </li>
                        <li>
                            ICO Website Designing
                        </li>
                        <li>
                            Explainer Video Designer
                        </li>
                        <li>
                            Token/Coin Development
                        </li>
                        <li>
                            ICO Marketing
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                        <img class="img-contain"
                            src="../../assets/images/logos/icons/dark/Initial coin offering Dark.png"
                            alt="Initial Coin Offering">
                    </div>
            </div>
        </div>
    </div>
</section>