<section class="contact-section">
    <div class="heading-outer">
        <div class="heading-inner">
            <h1 class="uppercase color-white">Contact</h1>
        </div>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="padding">
        <!-- <section>
    <form [formGroup]="contactForm" (ngSubmit)="submitContact()" autocomplete="off">
      <div class="row">
        <div class="col form-group required">
          <label for="name" >Name</label>
          <input aria-describedby="required-data" type="text" id="name" class="form-control" placeholder="Your name" formControlName="name" required>
        </div>
        <div class="col form-group required">
          <label for="emailAddress">Email</label>
          <input type="email" class="form-control" id="emailAddress" placeholder="name@domain.com" formControlName="email" required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col form-group required">
          <label for="contactNumber">Contact Number</label>
          <input type="text" class="form-control numbersOnly" id="contactNumber" placeholder="Contact Number" formControlName="contactNumber" required>
        </div>
        <div class="col form-group required">
          <label for="reasonForContact">Reason for Contact</label>
          <input type="text" class="form-control" id="reasonForContact" placeholder="Reason for Contact" formControlName="reasonForContact" required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" tabindex="5" rows="5" placeholder="Message" formControlName="message"></textarea>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col form-group required">
          <small><span style="color: red">*</span>Required fields</small>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-md btn-outline-success" [disabled]="!contactForm.valid">Notify Us!</button>    
      </div>      
    </form>
    <br><br>
  </section> -->
        <section>
            <div class="row">
                <div class="col-md-7 padding-top padding-left padding-right">
                    <div class="padded">
                        <iframe class="map-frame" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAA_LPNUVDQ63LXACQev6_ikT7qdAZHIyw&q=Outbak+Ventures,Brisbane+QLD"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-md-5 padding-top padding-left padding-right">
                    <div class="contact-padding-left">
                        <br><br>
                        <a href="mailto:info@catura.com" style="text-decoration: none; color: cornflowerblue">
                            <i class="fa fa-envelope" title="Email"></i><span>&nbsp;&nbsp;info@catura.com</span>
                        </a>
                        <br><br>
                        <a href="https://www.facebook.com/Catura-670185576738291/" target="_blank">
                            <i class="fa fa-facebook" style="color: #3b5998" title="Facebook"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a href="https://www.instagram.com/blockchaincatura/" target="_blank">
                            <i class="fa fa-instagram" style="color: #c13584" title="Instagram"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a href="https://www.linkedin.com/company/catura/about/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                        <br><br>
                        <h5>Address:</h5>
                        <p>
                            Suite 4QD, Level 4, 199 George Street, Brisbane, Queensland 4000.
                        </p>
                        <br>
                    </div>
                    <img class="img-contain-2" src="../../assets/images/logos/catura-black.png" alt="Catura">
                </div>
            </div>
            <br><br>
        </section>
    </div>
</section>
<section class="loading-page">
    <app-loading></app-loading>
</section>