<section class="team-section">
    <div class="heading-outer">
        <div class="heading-inner">
            <h1 class="uppercase color-white">Team</h1>
        </div>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container padding-top padding-bottom">
        <div class="founder-details padding-bottom">
            <h3 class="content-center grayscale">Executive Board</h3>
            <div class="row padding-top">
                <div class="col-md-6">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/praveen.jpg" alt="Praveen Karunambaran">
                        <div class="card-body padding-left-5 padding-right-5 margin-left-5 margin-right-5">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5 class="card-title">Praveen Karunambaran</h5>
                                    <div class="card-text">
                                        <p class="small-text margin-bottom-5">Director</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a class="pull-right" href="https://www.linkedin.com/in/praveenkarunambaran/"
                                        target="_blank">
                                        <i class="fa fa-linkedin fa-lg" style="color: #0e76a8;" title="LinkedIn"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 justified">
                                    <p>
                                        Leader, visionary, socialite, erudite and most importantly, the man who started
                                        it all, Praveen is the mastermind behind all our operations. Ambitious and
                                        driven, he has a wealth of experience as a business consultant and a
                                        technological expert across multiple domains. He is also a serial entrepreneur
                                        having successfully incubated several small and medium-sized businesses and
                                        helped them.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/hussein.jpg" alt="Hussein Srour">
                        <div class="card-body padding-left-5 padding-right-5 margin-left-5 margin-right-5">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5 class="card-title">Hussein Srour</h5>
                                    <div class="card-text">
                                        <p class="small-text margin-bottom-5">Director</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a class="pull-right" href="https://www.linkedin.com/in/hussein-srour/"
                                        target="_blank">
                                        <i class="fa fa-linkedin fa-lg" style="color: #0e76a8;" title="LinkedIn"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 justified">
                                    <p>
                                        An academic at heart, Hussein has more than 10 years of experience across
                                        multiple industries across France, Singapore and Australia. Exceptionally
                                        intelligent and miles ahead of others, Hussein is often able to see the big
                                        picture with while people are still looking for it. However, he is immensely
                                        down to earth and has the patience to explain his vision to other meticulously.
                                        He is genuinely egalitarian and leads his teams by example.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-details padding-bottom">
            <h3 class="content-center grayscale">Our Crew</h3>
            <div class="row padding-top">
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/anand.jpg" alt="Anand Sivasankar">
                        <div class="card-body content-center">
                            <h6 class="card-title">Anand Sivasankar</h6>
                            <p class="card-text small-text margin-bottom-5">General Manager</p>
                            <a href="https://www.linkedin.com/in/anand-sivasankar/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/Lucien.jpg" alt="Lucien Sanders">
                        <div class="card-body content-center">
                            <h6 class="card-title">Lucien Sanders</h6>
                            <p class="card-text small-text margin-bottom-5">Animation Specialist | Team Lead</p>
                            <a href="https://www.linkedin.com/in/lucien-sanders-9663a2186/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/pavan.jpg" alt="Pavan Teja Bhatta">
                        <div class="card-body content-center">
                            <h6 class="card-title">Pavan Teja Bhatta</h6>
                            <p class="card-text small-text margin-bottom-5">Web Developer Specialist | Team Lead</p>
                            <a href="https://www.linkedin.com/in/pavan-teja-bhatta/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/phai.jpg" alt="Tontrakun Chaimongkol">
                        <div class="card-body content-center">
                            <h6 class="card-title">Tontrakun Chaimongkol</h6>
                            <p class="card-text small-text margin-bottom-5">Marketing Specialist | Team Lead</p>
                            <a href="https://www.linkedin.com/in/tontrakun-chaimongkol-2ba918151/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/somya.jpg" alt="Somya Tomar">
                        <div class="card-body content-center">
                            <h6 class="card-title">Somya Tomar</h6>
                            <p class="card-text small-text margin-bottom-5">Data Analyst | Team Lead</p>
                            <a href="https://www.linkedin.com/in/468450691/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/anil.jpg" alt="Anil Simon">
                        <div class="card-body content-center">
                            <h6 class="card-title">Anil Simon</h6>
                            <p class="card-text small-text margin-bottom-5">Web Developer</p>
                            <a href="https://www.linkedin.com/in/anil-simon-b0088415a/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/arun.jpg" alt="Arun Davis">
                        <div class="card-body content-center">
                            <h6 class="card-title">Arun Davis</h6>
                            <p class="card-text small-text margin-bottom-5">Marketing Analyst</p>
                            <a href="https://www.linkedin.com/in/arun-davis-151153173/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/bonnie.jpg" alt="Bonnie Teng">
                        <div class="card-body content-center">
                            <h6 class="card-title">Bonnie Teng</h6>
                            <p class="card-text small-text margin-bottom-5">Digital Marketing Analyst</p>
                            <a href="https://www.linkedin.com/in/bonnie-teng-08a860157/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/david.jpg" alt="David Vera">
                        <div class="card-body content-center">
                            <h6 class="card-title">David Vera</h6>
                            <p class="card-text small-text margin-bottom-5">Systems Administrator</p>
                            <a href="https://www.linkedin.com/in/david-vera-3b3079175/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/dipak.jpg" alt="Dipak Basnet">
                        <div class="card-body content-center">
                            <h6 class="card-title">Dipak Basnet</h6>
                            <p class="card-text small-text margin-bottom-5">Graphic Designer</p>
                            <a href="https://www.linkedin.com/in/dipakbasnet/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/Irantzu.jpg" alt="Irantzu Sangroniz">
                        <div class="card-body content-center">
                            <h6 class="card-title">Irantzu Sangroniz</h6>
                            <p class="card-text small-text margin-bottom-5">Visual Designer</p>
                            <a href="https://www.linkedin.com/in/irantzu-sangroniz-a2622015b/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/Jane.jpg" alt="Jane Balashova">
                        <div class="card-body content-center">
                            <h6 class="card-title">Jane Balashova</h6>
                            <p class="card-text small-text margin-bottom-5">Graphic Designer</p>
                            <a href="https://www.linkedin.com/in/jane-balashova-3124ba185/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/kinjal.jpg" alt="Kinjal Patel">
                        <div class="card-body content-center">
                            <h6 class="card-title">Kinjal Patel</h6>
                            <p class="card-text small-text margin-bottom-5">Web Developer</p>
                            <a href="https://www.linkedin.com/in/kinjal-patel-5642a778/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/rashmi.jpg" alt="Rashmi Venex Dsouza">
                        <div class="card-body content-center">
                            <h6 class="card-title">Rashmi Venex Dsouza</h6>
                            <p class="card-text small-text margin-bottom-5">Blockchain Technology Analyst</p>
                            <a href="https://www.linkedin.com/in/rashmivenex/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/ronald.jpg" alt="Ronald Dacayanan">
                        <div class="card-body content-center">
                            <h6 class="card-title">Ronald Dacayanan</h6>
                            <p class="card-text small-text margin-bottom-5">Marketing Analyst</p>
                            <a href="https://www.linkedin.com/in/ronald-dacayanan/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/vijay.jpg" alt="Vijay Kumar Saraf">
                        <div class="card-body content-center">
                            <h6 class="card-title">Vijay Kumar Saraf</h6>
                            <p class="card-text small-text margin-bottom-5">Systems Administrator</p>
                            <a href="https://www.linkedin.com/in/vijay-kumar-saraf-62876a55/" target="_blank">
                                <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="loading-page">
    <app-loading></app-loading>
</section>