<section class="team-section">
    <div class="container padding-top padding-bottom">
        <h1 class="content-center page-header">Our Team</h1>
        <div class="founder-details padding-top padding-bottom">
            <h3 class="content-center grayscale">Executive Board</h3>
            <div class="row padding-top">
                <div class="col-md-6">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/praveen.jpg" alt="Team Member">
                        <div class="card-body">
                            <h5 class="card-title">Praveen Karunambaran</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/hussein.jpg" alt="Team Member">
                        <div class="card-body">
                            <h5 class="card-title">Hussein Srour</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-details padding-bottom">
            <h3 class="content-center grayscale">Our Crew</h3>
            <div class="row padding-top">
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/anand.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Anand</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/arun.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Arun</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/bonnie.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Bonnie</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/david.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">David</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-top">
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/dipak.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Dipak</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/Irantzu.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Irantzu</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/Jane.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Jane</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/kinjal.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Kinjal</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-top">
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/navya.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Navya</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/pavan.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Pavan</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/phai.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Phai</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/rashmi.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Rashmi</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-top">
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/somya.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Somya</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/vijay.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Vijay</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/virginia.jpg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Virginia</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Crew Member</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-top">
                <div class="col-md-3">
                    <!-- <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Crew Member</h6>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Crew Member</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Crew Member</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Team Member">
                        <div class="card-body">
                            <h6 class="card-title content-center">Crew Member</h6>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>