.team-section {
    margin-top: 55px;
    background: linear-gradient(to top, #fddb92 0%, #d1fdff 100%)
}

.team-table {
    display: table;
    height: 30vh;
    width: 100%;
    background: linear-gradient(to bottom right, #267794, #f0fbfb);
}

.area { 
    background: linear-gradient(to bottom right, #267794, #f0fbfb); 
}

.team-header {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.uppercase {
    text-transform: uppercase !important;
}

.color-white {
    color: white !important;
}

.content-center {
    text-align: center;
}

.padding-top {
    padding-top: 5vh;
}

.padding-bottom {
    padding-bottom: 5vh;
}

.grayscale {    
    color: #999;
}

.card-animate {
    animation-name: out;
    animation-duration: 1000ms;
}

.card-animate {
    width: 90%;
    margin: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.0);
    transition: all ease-in-out 350ms;
}

.small-text {
    font-size: 0.66em;
    color: #999;
}

@keyframes out {
    from {
        transform: scale(1.05);
    }
    to {
        transform: scale(1.0);
    }
}