<section class="team-section">
    <div class="heading-outer">
        <div class="heading-inner">
            <h1 class="uppercase color-white">Team</h1>
        </div>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container padding-top padding-bottom">
        <div class="founder-details padding-bottom">
            <h3 class="content-center grayscale">Executive Board</h3>
            <div class="row padding-top">
                <div class="col-md-6">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/praveen.jpg" alt="Praveen Karunambaran">
                        <div class="card-body padding-left-5 padding-right-5 margin-left-5 margin-right-5">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5 class="card-title">Praveen Karunambaran</h5>
                                    <div class="card-text">
                                        <p class="small-text margin-bottom-5">Director</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 justified">
                                    <p>
                                        Leader, visionary, socialite, erudite and most importantly, the man who started
                                        it all, Praveen is the mastermind behind all our operations. Ambitious and
                                        driven, he has a wealth of experience as a business consultant and a
                                        technological expert across multiple domains. He is also a serial entrepreneur
                                        having successfully incubated several small and medium-sized businesses and
                                        helped them.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/hussein.jpg" alt="Hussein Srour">
                        <div class="card-body padding-left-5 padding-right-5 margin-left-5 margin-right-5">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5 class="card-title">Hussein Srour</h5>
                                    <div class="card-text">
                                        <p class="small-text margin-bottom-5">Director</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 justified">
                                    <p>
                                        An academic at heart, Hussein has more than 10 years of experience across
                                        multiple industries across France, Singapore and Australia. Exceptionally
                                        intelligent and miles ahead of others, Hussein is often able to see the big
                                        picture with while people are still looking for it. However, he is immensely
                                        down to earth and has the patience to explain his vision to other meticulously.
                                        He is genuinely egalitarian and leads his teams by example.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-details padding-bottom">
            <h3 class="content-center grayscale">Our Crew</h3>
            <div class="row padding-top">
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/dummy.jpg" alt="Finance Manager">
                        <div class="card-body content-center">
                            <h6 class="card-title">Finance Manager</h6>
                            <p class="card-text small-text margin-bottom-5">Finance Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/anand.jpg" alt="Anand Sivasankar">
                        <div class="card-body content-center">
                            <h6 class="card-title">Anand Sivasankar</h6>
                            <p class="card-text small-text margin-bottom-5">General Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/Lucien.jpg" alt="Lucien Sanders">
                        <div class="card-body content-center">
                            <h6 class="card-title">Lucien Sanders</h6>
                            <p class="card-text small-text margin-bottom-5">Animation Specialist | Team Lead</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/pavan.jpg" alt="Pavan Teja Bhatta">
                        <div class="card-body content-center">
                            <h6 class="card-title">Pavan Teja Bhatta</h6>
                            <p class="card-text small-text margin-bottom-5">Web Developer Specialist | Team Lead</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/bonnie.jpg" alt="Bonnie Teng">
                        <div class="card-body content-center">
                            <h6 class="card-title">Bonnie Teng</h6>
                            <p class="card-text small-text margin-bottom-5">Digital Marketing Analyst</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/Irantzu.jpg" alt="Irantzu Sangroniz">
                        <div class="card-body content-center">
                            <h6 class="card-title">Irantzu Sangroniz</h6>
                            <p class="card-text small-text margin-bottom-5">Visual Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/Team/Jane.jpg" alt="Jane Balashova">
                        <div class="card-body content-center">
                            <h6 class="card-title">Jane Balashova</h6>
                            <p class="card-text small-text margin-bottom-5">Graphic Designer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="loading-page">
    <app-loading></app-loading>
</section>