<section class="ai-section">
    <div class="heading-outer">
        <div class="heading-inner">
            <h1 class="uppercase color-white">Artificial Intelligence</h1>
        </div>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="container container-fluid">
        <div class="margin">
            <div class="row">
                <div class="col-md-8">
                    <p class="justified">
                        The concept of AI has been around for a very long time from the early ages when early mankind
                        dreamt of thinking machines and has influenced so many of our most significant inventions and
                        innovations. And over the years with the improvement of technology and computation power, the
                        scope of AI widened, and the limitations of it were reduced. However, the concept of AI has
                        changed very little; to create machines that are capable of imitating human behaviour, to
                        perform intelligent tasks and react like a normal human being would.
                    </p>
                    <p class="justified">
                        Artificial Intelligence in the form we have today works with the help of vast amounts of data
                        stored, analysed and then creating codes that will replicate human behaviour. This can be done
                        in different ways, including ones using machine learning and neural networks. However, the basic
                        building block of AI is a large amount of data that is used to teach the machine, and the source
                        of data can be from anywhere, and this is where blockchain comes in. Blockchain helps secure the
                        data and improve the resilience of the database used by AI, making Blockchain and AI integration
                        a powerful pair.
                    </p>
                    <p class="justified">
                        To understand how AI, blockchain and IoT integrates with each other, it is easier to visualize
                        them as something organic and almost like a living thing. The Internet of Things is the central
                        nervous system. It helps sense the world around it, using billions of devices connected to a
                        network across the globe and recording a universe of new data every second. AI and blockchain
                        would then be like the brain; Ai being the reasoning part of your mind and blockchain the
                        memory. AI thinks by analyzing data and making decisions previously reserved for humans. And
                        blockchain creates a secure, indelible record of transactions and data exchanges.
                    </p>
                    <p class="justified">
                        So IoT feels. And AI and machine learning think. Blockchain, meanwhile, can be said to remember.
                    </p>
                    <p class="justified">
                        Blockchain is a decentralized network of computers that records and stores data on multiple
                        servers and then display a chronological series of events on a ledger that is both transparent
                        and immutable. This gives blockchain the ability to track-and-trace supply chains and integrate
                        seamlessly with AI for almost every facet of enterprises, each tackling some of the world's
                        biggest challenges. At Catura, we create decentralized AI models for companies and offer other
                        intelligent solutions for all kinds of business requirement and helping them overcome some of
                        their biggest problems.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-contain"
                        src="../../assets/images/logos/icons/dark/BrainLogoBlue.png"
                        alt="Blockchain Consulting">
                </div>
            </div>
        </div>
    </div>
</section>