.services-list a.clicked{
  color: red !important;
}

.footer-second a.clicked {
  color: red !important;
}

.outbak-topNav{
  position: relative;
  top:0px;
  z-index:100;
  width: 100%;
}

#cookies-info{
  position: fixed;
  bottom: 0px;
}
