<section class="sto-section">
    <div class="heading-outer">
        <div class="heading-inner">
            <h1 class="uppercase color-white">Security Token Offering</h1>
        </div>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container container-fluid">
        <div class="margin">
            <div class="row">
                <div class="col-md-8">
                    <p class="justified">
                        At catura, we help companies set up security token offering for transactions. A security token
                        is similar to real securities which represent tokenised assets. Security tokens act as a right
                        to a share of an asset, and because there is also a stricter legal framework, these tokens can
                        represent actual equity, acting as “digital shares” of a company. It is not always tied to
                        equity in all cases, and security tokens can be used to fractionalize ownership in a multitude
                        of assets which range from real estate to fine art as they can grant the token holder an array
                        of rights. It can be equity ownership, periodic dividends, debt repayments, cash flows, voting
                        rights and more and all these rights are codified by a smart contract that governs the token.
                    </p>
                    <p class="justified">
                        More importantly, due to the nature of these tokens, we treat them very differently from both a
                        legal and regulatory perspective. As their values are derived from actual securities, security
                        tokens are considered investments and can have additional regulatory or reporting requirements
                        for the issuing entity.
                    </p>
                    <p class="justified">
                        We provide enhanced regulatory oversight that security token issuance generally requires and
                        ensure better investor protection and more rights for investors thus restoring the balance of
                        power from the viewpoint of a prospective stakeholder. The additional regulatory
                        responsibilities may also include tax reporting, compliance duties along with added
                        transparency. Any failure to adhere to the securities laws or should companies fail to honour
                        their reporting obligations could result in severe penalties. Catura takes care of all these
                        requirements to ensure peace of mind for all parties involved.
                    </p>
                </div>
                <div class="col-md-4">
                        <img class="img-contain"
                            src="../../assets/images/logos/icons/dark/Security Dark.png"
                            alt="Security Token Offering">
                    </div>
            </div>
        </div>
    </div>
</section>