<section class="bc-section">
    <div class="heading-outer">
        <div class="heading-inner">
            <h1 class="uppercase color-white">Blockchain Consulting</h1>
        </div>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="container container-fluid">
        <div class="margin">
            <div class="row">
                <div class="col-md-8">
                    <p class="justified">
                        Catura is one of the fastest growing brands of blockchain technology specialists in Australia
                        and provides quality Blockchain consulting and development services. We help companies design
                        and develop the applications for blockchain technology and offer strategy and guidance in its
                        optimal use for the situation while allowing them to capitalise on the explosive demand for a
                        trust-based database system.
                    </p>
                    <p class="justified">
                        Blockchain is a revolution in the system of records which stores and manages digital
                        transactions securely over a peer-to-peer network of devices. It is a complex concept, different
                        technologies are involved in making blockchain a successful next generation trust mechanism, and
                        our expertise lies in bringing all of this together and creating seamless systems for businesses
                        to transition to blockchain technology.
                    </p>
                    <h6>
                        Blockchain Services we offer:
                    </h6>
                    <ul>
                        <li>
                            Consultant services
                        </li>
                        <li>
                            Smart Contract Development
                        </li>
                        <li>
                            Cryptocurrency Wallet
                        </li>
                        <li>
                            ICO Development
                        </li>
                        <li>
                            Security Token Offering
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img class="img-contain" src="../../assets/images/logos/icons/dark/Bussiness services and consultancy Dark.png" alt="Blockchain Consulting">
                </div>
            </div>
        </div>
    </div>
</section>