<section class="services-page">
    <section class="section-1 outbak-topMain" id="outbak-section">
        <div class="heading-div">
            <p><b>Welcome to</b></p>
            <p class="typewriter"><b>
                    <p>Catura Australia</p>
                </b></p>
            <p>A Blockchain Consulting Company</p>
            <br><br>
            <br>
            <button class="btn btn-lg border-less btn-outline-light" (click)="contactUs()"><span>&nbsp;&nbsp;Contact
                    Us&nbsp;&nbsp;</span></button>
            <div class="scroll-downs">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-2">
        <div class="margin">
            <br>
            <div class="row">
                <div class="text-center">
                    <h1 class="uppercase color-white">Offerings</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <img class="img-contain" src="../../assets/images/logos/catura-black.png" alt="Catura">
                </div>
                <div class="col-md-7">

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-animate centered pointer" (click)="navigate([1,1])">
                        <div class="table">
                            <img class="card-img-top img-contain"
                                src="../../assets/images/logos/icons/bsns-serv-cons.png" alt="Blockchain
                                Consulting">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title gradient-text-3">Blockchain
                                Consulting</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate centered pointer" (click)="navigate([1,3])">
                        <div class="table">
                            <img class="card-img-top img-contain" src="../../assets/images/logos/icons/ico.png"
                                alt="Initial Coin Offering">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title gradient-text-3">Initial Coin Offering
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate centered pointer" (click)="navigate([1,6])">
                        <div class="table">
                            <img class="card-img-top img-contain" src="../../assets/images/logos/icons/sec.png" alt="Security Token
                                Offering">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title gradient-text-3">Security Token
                                Offering
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-animate centered pointer" (click)="navigate([1,5])">
                        <div class="table">
                            <img class="card-img-top img-contain" src="../../assets/images/logos/icons/plng-n-exec.png"
                                alt="Smart Contract Development">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title gradient-text-3">Smart Contract Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-3">
        <div class="container container-fluid">
            <br>
            <div class="row">
                <div class="text-center">
                    <h1 class="uppercase color-white">Features</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg" alt="Cost Efficiency">
                        <div class="overlay">
                            <div class="text">Cost Efficiency</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg"
                            alt="Faster Settlement and Precision">
                        <div class="overlay">
                            <div class="text">Faster Settlement and Precision</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg" alt="Quality Assurance">
                        <div class="overlay">
                            <div class="text">Quality Assurance</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg" alt="Incorrigible and Immutable">
                        <div class="overlay">
                            <div class="text">Incorrigible and Immutable</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg" alt="Increased Capacity">
                        <div class="overlay">
                            <div class="text">Increased Capacity</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg" alt="Consensus and Trust">
                        <div class="overlay">
                            <div class="text">Consensus and Trust</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </section>

    <section class="section-4">
        <div class="container container-fluid">
            <br>
            <div class="row">
                <div class="text-center">
                    <h1 class="uppercase color-white">Industries</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Real Estate">
                        <div class="card-body">
                            <h5 class="card-title">Real Estate</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Healthcare">
                        <div class="card-body">
                            <h5 class="card-title">Healthcare</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Retail and Wholesale">
                        <div class="card-body">
                            <h5 class="card-title">Retail and Wholesale</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-5">
        <div class="container container-fluid">
            <br>
            <div class="row">
                <div class="text-center">
                    <h1 class="uppercase color-white">Our Partners</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pointer">
                    <a class="no-text-decoration" href="https://thethoriumnetwork.ch/" target="_blank">
                        <div class="card card-normal centered">
                            <img class="card-img-top" src="../../assets/images/logos/icons/thorium.png"
                                alt="The Thorium Network">
                            <div class="card-body">
                                <h5 class="card-title gradient-text-3">The Thorium Network</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="no-text-decoration" href="https://outbakventures.com/" target="_blank">
                        <div class="card card-normal centered">
                            <img class="card-img-top" src="../../assets/images/logos/icons/outbak1.png"
                                alt="Outbak Ventures">
                            <div class="card-body">
                                <h5 class="card-title gradient-text-3">Outbak Ventures</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="card card-normal centered">
                        <img class="card-img-top" src="../../assets/images/logos/icons/thorium.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title gradient-text-3">Card title</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="loading-page">
    <app-loading></app-loading>
</section>