<section class="services-page">
    <section class="section-1 outbak-topMain" id="outbak-section">
        <div class="heading-div">
            <p><b>Welcome to</b></p>
            <p class="typewriter"><b>
                    <p>Catura Australia</p>
                </b></p>
            <p>A Blockchain Consulting Company</p>
            <br><br>
            <br>
            <button class="btn btn-lg border-less btn-outline-light" (click)="contactUs()"><span>&nbsp;&nbsp;Contact
                    Us&nbsp;&nbsp;</span></button>
            <div class="scroll-downs">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-2">
        <div class="container container-fluid">
            <br>
            <div class="row">
                <div class="text-center">
                    <h1 class="uppercase color-white">Offerings</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-animate">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-3">
        <div class="container container-fluid">
            <br>
            <div class="row">
                <div class="text-center">
                    <h1 class="uppercase color-white">Features</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg" alt="Logo">
                        <div class="overlay">
                            <div class="text">Playing Badminton</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg" alt="Logo">
                        <div class="overlay">
                            <div class="text">Playing Badminton</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg" alt="Logo">
                        <div class="overlay">
                            <div class="text">Playing Badminton</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg" alt="Logo">
                        <div class="overlay">
                            <div class="text">Playing Badminton</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg" alt="Logo">
                        <div class="overlay">
                            <div class="text">Playing Badminton</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-container">
                        <img class="image" src="../../assets/images/blockchain.jpeg" alt="Logo">
                        <div class="overlay">
                            <div class="text">Playing Badminton</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </section>

    <section class="section-4">
        <div class="container container-fluid">
            <br>
            <div class="row">
                <div class="text-center">
                    <h1 class="uppercase color-white">Industries</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-5">
        <div class="container container-fluid">
            <br>
            <div class="row">
                <div class="text-center">
                    <h1 class="uppercase color-white">Our Partners</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-normal">
                        <img class="card-img-top" src="../../assets/images/blockchain.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="loading-page">
    <app-loading></app-loading>
</section>