<section class="blog-section">
    <!--
    <div class="blog-table centered">
        <div class="blog-header">
            <h1 class="uppercase color-white">Blog</h1>
        </div>
    </div>
    
    -->
    <div class="heading-outer">
        <div class="heading-inner">
                   <h1 class="uppercase color-white">Blog</h1>
            </div>
    </div>

    <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
    <div class="blog-content" style="position: relative;height:200px">
    
    </div>
</section>