/*Footer*/

.text-center {
    text-align: center;
}

.inline-display {
    display: inline-block;
}

.section-5 {
    background-color: #0C252E;
    width: 100vw;
    height: auto;
    color: aliceblue;
    padding: 5vh 5vw;
}

.services-list a.clicked {
    font-weight: bold !important;
    background: -webkit-linear-gradient(red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-second a.clicked {
    font-weight: bolder;
    background: -webkit-linear-gradient(red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.catura-mail:hover, .catura-phone:hover {
    background: -webkit-linear-gradient(red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-5 h5 {
    position: absolute;
}

#services-h5::after {
    content: '';
    display: block;
    width: 100%;
    background-color: red;
    height: 3px;
    position: relative;
}

.services-list {
    text-align: left;
    padding-left: 20px;
    list-style-type: none;
    position: relative;
    font-size: medium;
    font-weight: 350;
}

.services-list>li {
    padding: 2px;
}

.services-list>li>a {
    font-weight: 400;
    display: inline-block;
    padding: 0 !important;
    transform: translateX(0);
    transition: all ease-in-out 200ms;
}

.services-list>li>a:hover {
    background: -webkit-linear-gradient(red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(5px);
    transition: all ease-in-out 200ms;
}

.others-list a:hover {
    background: -webkit-linear-gradient(red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.services-list>li>a {
    text-decoration: none;
    cursor: pointer;
    padding: 1vh;
}

.footer {
    margin: 2vh 5vw;
}

.bold {
	font-weight: bold;
}

.normal:hover {
	color: white;
	text-decoration: none;
}

/* .fa-animate>a>i:hover{
    transition: all ease-in-out 250ms;
    transform: scale(1.1);
}

.fa-animate>a>i{
    animation-duration: 250ms;
    animation-name: out;
}

@keyframes out{
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
} */