/* You can add global styles to this file, and also import other style files */

.heading-outer{
        height: 40vh;
        position: absolute;
        width: 100%;
        display: table;
        z-index:4 ;
}
.heading-inner{
    display: table-cell;
    vertical-align: middle;
    z-index: 5;
    text-align: center;
    color:white;
}
.context {
    width: 100%;
    position: absolute;
    z-index: 4;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area{ 
    width: 100%;
    min-height:40vh;
    position: relative;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-2000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.padding-top {
    padding-top: 5vh;
}

.padding-bottom {
    padding-bottom: 5vh;
}

.padding-left {
    padding-left: 5vw;
}

.padding-right {
    padding-right: 5vw;
}

.margin-top {
    margin-top: 5vh;
}

.margin-bottom {
    margin-bottom: 5vh;
}

.margin-left {
    margin-left: 5vw;
}

.margin-right {
    margin-right: 5vw;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.padding {
    padding: 5vh 5vw;
}

.margin {
    margin: 5vh 5vw;
}

.padding-top-5 {
    padding-top: 5%;
}

.padding-bottom-5 {
    padding-bottom: 5%;
}

.padding-left-5 {
    padding-left: 5% !important;
}

.padding-right-5 {
    padding-right: 5% !important;
}

.padding-5 {
    padding: 5%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.margin-left-5 {
    margin-left: 5%;
}

.margin-right-5 {
    margin-right: 5%;
}

.margin-5 {
    margin: 5%;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.centered {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.table {
    display: table;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.white-text {
    color: white;
}

.red-text {
    color: red;
}

.page-heading {
    display: inline-block;
    color: #444;
}

.page-heading::after {
    content: '';
    display: block;
    width: 100%;
    background-color: red;
    height: 3px;
    position: relative;
}

.inline-block {
    display: inline-block;
}

.justified {
    text-align: justify;
}

.left-aligned{
    text-align: left;
}

.font-lg {
    font-size: 1.25em;
}

.img-contain {
    width: 100%;
}

.img-contain-1 {
    width: 80%;
}

.img-contain-2 {
    width: 50%
}

.img-contain-3 {
    max-height: 50px;
}

.sticky {
    position: sticky;
    top: 0px;
}

.pointer {
    cursor: pointer;
}