<section class="poc-section">
    <div class="heading-outer">
        <div class="heading-inner">
            <h1 class="uppercase color-white">Proof of Concept</h1>
        </div>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container container-fluid">
        <div class="margin">
            <div class="row">
                <div class="col-md-8">
                    <p class="justified">
                        At Catura, we help set up a proof of concept as a Smart Contract to help protect the interests
                        of
                        the concept owner. A proof of concept is the representation or a demonstration of a product,
                        method
                        or idea in principle to demonstrate its feasibility and to verify if the concept or theory has
                        practical potential. While a PoC is not a complete product, it is still considered sensitive,
                        especially if it is proprietary and represents a significant loss of value if stolen or
                        replicated
                        without explicit permissions. This is also the case when the PoC is sent to investors and other
                        stakeholders, as it records every transaction and any changes made to it.
                    </p>
                    <p class="justified">
                        Catura also assists companies that want to implement blockchain technology for themselves and
                        help
                        our clients set their strategy in motion to deploy blockchain solutions. We sit with our clients
                        and
                        ideate what their specific needs are and once a conceptual workflow, and a blockchain model has
                        been
                        established along with the scope of the project, we help them create a functioning proof of
                        concept
                        for pilot testing. Moreover, once it tried and tested for a period of time, we move into the
                        implementation phase where we scale it for enterprise-wide use.
                    </p>
                </div>
                <div class="col-md-4">
                        <img class="img-contain"
                            src="../../assets/images/logos/icons/dark/Risk Assessment Dark.png"
                            alt="Proof of Concept">
                    </div>
            </div>
        </div>
    </div>
</section>