<section class="iot-section">
    <div class="heading-outer">
        <div class="heading-inner">
            <h1 class="uppercase color-white">Internet of Things</h1>
        </div>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container container-fluid">
        <div class="margin">
            <div class="row">
                <div class="col-md-8">
                    <p class="justified">
                        Imagine a world where every device around you is continually collecting data to improve your
                        user experience and have a seamless integration between devices. This is the fundamental essence
                        of the Internet of things or IoT. The Internet of Things (IoT) is the process of communication
                        and transfer of data between interrelated computing devices. Platforms enabling IoT provide
                        devices with a shared network to dump the data collected and also provide a common language for
                        all these devices to communicate with each other and allow people to use the data to their
                        benefit.
                    </p>
                    <p class="justified">
                        Moreover, if you are thrilled about the prospects of it, then you can rest assured that the
                        future where IoT is implemented on a large scale is not as far as you think. Moreover, if you
                        are scared by the prospects of such a future where large amounts of data are collected, and you
                        are worried about the security of the said data, then you are right, privacy and security are
                        the two major concerns while implementing IoT. Devices continually sharing critical information
                        back and forth over the internet makes it a prime target for hackers looking to exploit it. The
                        data is also centralised where data is sent from multiple devices are sent to the cloud,
                        analysed and sent back to the IoT, increasing its vulnerability. With billions of devices that
                        will be integrated into IoT, the current architecture lacks the scalability and exposes a
                        multitude of weak point that may be exploited.
                    </p>
                    <p class="justified">
                        This is where the blockchain technology comes into play. Using blockchain, the security of the
                        data collected can be improved, and the chances of misuse of said data can be prevented.
                        Blockchain uses a system of decentralised ledgers and smart contracts to allow devices to
                        function securely as well as anonymously by only executing agreements after specific conditions
                        have been met. It also allows for greater automation and avoids individuals from trying to
                        exploit data for their own benefits. As it is decentralised, it becomes less susceptible to
                        corruption and prevents single point failures.
                    </p>
                    <p class="justified">
                        At catura, we deliver robust, secure IoT solutions for our clients that are driven by
                        device-generated data and comply with all the industry standards. Close collaboration with
                        hardware vendors has helped us to hone our problem-solving skills and deeply understand the
                        industry-specific issues. Let our team of IoT experts at Catura step into your IoT development
                        process and start bringing immediate value at any stage.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-contain"
                        src="../../assets/images/logos/icons/dark/Networking Dark.png"
                        alt="Blockchain Consulting">
                </div>
            </div>
        </div>
    </div>
</section>